.contentP{
    width: 100%;
    height: 100%;
    margin-left: -3%;
}

.text1{
    color: var(--main-color);
    font-size: 28px;
}

.text2{
    color: var(--main-color);
}

  
  .selectF {
    margin-bottom: 10px;
  }
  
  .employeeList1 {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    
  }
  
  .employeeList1 th, .employeeList1 td {
    border-top: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tbody tr:hover {
    background-color: #f1d8ca63   ;
}
  
  .delete button {
    margin-right: 5px;
  }
  
  form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 113% !important;
    color: black;
  }
  
  /* Style the submit button */
  form.example button {
        width: 15%;
        background: var(--main-color);
        color: white;
        font-size: 17px;
        cursor: pointer;
  }
  
  form.example button:hover {
    background: #ff7b00;
  }
  
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }

.Filter{
    display: flex;
    justify-content: space-between;    
    align-items: center;
}
button{
    margin: 14px 0px;
}

input[type=text]{
    margin-right: 10px;
}

.employeeList1 td:nth-child(10) {
  max-width: 150px; /* Adjust the maximum width as needed */
  overflow: auto;
  white-space: nowrap;
}

.input-phone {
  display: block;
  margin: 0 auto;
  border-bottom: 1px solid #ccc; /* Add a 1px solid border with a light gray color */
  background-color: transparent;
  width: 130%;
  text-align: center;
  color: white;
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}
